html, body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}

.wrapper form input {
  display: block;
  margin: 20px;
}

.wrapper button {
  margin: 20px;
}

#neki {
  color: blueviolet;
  font-weight: bold;
}

.adding-btn {
  float:right;
  width: 400px;
}