html, body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}

.wrapper form input {
  display: block;
  margin: 20px;
}

.wrapper button {
  margin: 20px;
}

#neki {
  color: blueviolet;
  font-weight: bold;
}

.adding-btn {
  float:right;
  width: 400px;
  margin-bottom: 100px;
}

/* SLIDER  */


.slider-wrap {
  position: relative;
  height: 300px;
  width: 600px;
  overflow: hidden;
  background-color: lightblue;
}

.slider {
  position: absolute;
  height: 300px;
  width: 1800px;
}

.btn {
  position: absolute;
  top: 50%;
  opacity: 0.7;
  margin: 0 20px;
  background: rgba(0, 0, 0, 0.3);
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.item {
  height: 300px;
  width: 600px;
  float: left;
  
}

#item1 {
  background-color: lightseagreen;
}

#item2 {
  background-color: lightgreen;
}

#item3 {
  background-color: lightsalmon;
}

.norape {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
